apiVersion: apps/v1
kind: Deployment
metadata:
  name: costinsight-deployment
  labels:
    app: costinsight
spec:
  replicas: 2
  selector:
    matchLabels:
      app: costinsight
  template:
    metadata:
      labels:
        app: costinsight
    spec:
      containers:
      - name: costinsight
        image: aazammohammad193/costinsight:latest
        ports:
        - name: http
          containerPort: 3000
        envFrom:
        - secretRef:
            name: costinsight-secrets
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /api/health
            port: http
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /api/health
            port: http
          initialDelaySeconds: 5
          periodSeconds: 10
